{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'users/css/styles.css' %}">
    <link rel="shortcut icon" href="{% static 'users/image/logo.png' %}">
    <title>Speako</title>
    <style>
        
    </style>
</head>
<body>
    <!-- HEADER -->
    <header>
        <nav>
            <a href="/" class="logo">SPEAKO</a>
            <div class="nav-links">
                <a href="/login">Iniciar sesión</a>
                <a href="/register" class="cta-button">Empezar ahora</a>
            </div>
        </nav>
    </header>

    <!-- MAIN CONTENT -->
    <main>
        <h1>Aprende cualquier idioma por tu cuenta con IA</h1>
        <h2>Comienza ya a aprender</h2>
        <a href="/register" class="btn-register">Registrarse</a>
    </main>

    <!-- VIDEO BACKGROUND -->
    <video class="video-background" autoplay muted loop>
        <source src="{% static 'users/video/background.mp4' %}" type="video/mp4">
    </video>

    <div class="gradient-overlay"></div>
</body>
</html>